@import url('https://fonts.googleapis.com/css2? family=Pacifico & display=swap');
@font-face{
    font-family:dislexia;
    src:url("./Fontes/OpenDyslexicMono-Regular.otf")
}
@font-face {
    font-family:dislexia-regular;
    src:url("./Fontes/OpenDyslexic-Regular.otf")
}
*{
    margin:0;
}
h1{
    font-family: 'Pacifico', cursive;
    color:rgb(96, 110, 238);
    text-align: center;
    font-size: 45px;
}
body{
    background-color: rgba(180, 126, 251, 0.792);
    width: 100%;
}
h2{
    color: blue;
    font-family: dislexia;
    text-align: right;
    font-size: 20px;
    margin-right: 10%;
}
h3{
    font-family: 'Pacifico', cursive;
    color:rgb(96, 110, 238);
    text-align: center;
    font-size: 35px;
}
p{
    font-family:dislexia-regular;
    color: rgb(241, 246, 199);
    font-size: 30px;
    text-align: justify;
    width: 80%;
}
.imgcapa{
    background-image:url("./Imagens/1502968_5888.jpg");
    width: 90%;
    background-size:cover;
}    
.terra{
    background-color: rgb(247, 238, 160);
    font-family: 'Pacifico', cursive;
    width: 30%;
    height: auto;
    border-radius: 20px;
    font-size: 23px;
    border-style: none;
    margin:1%;
}
.materia{
    background-color: rgb(235, 134, 245);
    font-family: 'Pacifico', cursive;
    width: 30%;
    height: auto;
    border-radius: 20px;
    font-size: 23px;
    border-style: none;
    margin:1%;

}
.vida{
    background-color: rgb(129, 129, 248);
    font-family: 'Pacifico', cursive;
    width: 30%;
    height: auto;
    border-radius: 20px;
    font-size: 23px;
    border-style: none;
    margin:1%;
}
.nome, .email{
    background-color: rgb(253, 255, 232);
    font-family: 'Pacifico', cursive;
    width: 30%;
    height: 50px;
    border-radius: 20px;
    font-size: 23px;
    border-style: none;
    margin:1%;
    text-align: center;
}
a{
    text-decoration: none;
    color: rgb(67, 7, 123);
}